<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Stock prices</title>
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.3.min.js"
                crossorigin="anonymous"></script>
        {{ script | safe }}
    </head>
    
    <body>
        {{ div | safe }}
            
        <form method='post'>
            <div>
                <label for="input-stock"> Stock ticker: </label>
                <input type="text" id="input-stock" value="{{stock}}" name="stock" required>
            </div>
        
            <div>
                <label for="opening-box"> Opening price:</label>
                <input type="checkbox" id="opening-box" name="open" {{open}}>
            </div>
        
            <div>
                <label for="high-box"> High price:</label>
                <input type="checkbox" id="high-box" name="high" {{high}}>
            </div>
            
            <div>
                <label for="low-box"> Low price:</label>
                <input type="checkbox" id="low-box" name="low" {{low}}>
            </div>
        
            <div>
                <label for="closing-box"> Closing price:</label>
                <input type="checkbox" id="closing-box" name="close" {{close}}>
            </div>
            
            
            <div>
                <label for="start-date"> Start date: </label>
                <input type="date" id="start-date" name="start" value={{start}}>
            </div>
            
            <div>
                <label for="end-date"> End date: </label>
                <input type="date" id="end-date" name="end" value={{end}}>
            </div>
            
            <div>
                <input type="submit" value="Update plot" method="post"/>
            </div>
            
        </form>
        
    </body>
    
</html>
